numpy
pyaudio
soundfile
webrtcvad-wheels
speechbrain
sentence-transformers
networkx
openai
spacy
requests
PyQt5
toml
live2d-py
sounddevice
rich
pillow
pyperclip
beautifulsoup4
playwright
fastapi
pydantic
uvicorn
librosa
pydub
flask
mcp
addict
pyautogui
datasets==2.21.0
simplejson
sortedcontainers
flask_socketio
audio-separator[gpu]